.task-item {
  background-color: var(--gray-0);
  border: 1px solid var(--gray-1);
  margin-top: .75rem;
  padding: 10px;
  transition: all 0.5s var(--ease-out-1);
  h3 {
    font-weight: 700;
    margin: 0;
  }
  button {
    cursor: pointer;
    background-color: red;
    padding: .5rem;
    color: white;
  }
  &:hover {
    background: #ccc;
    background-color: var(--blue-0);
    border-color: var(--blue-4);
  }
}