.task-item {
  background-color: var(--gray-0);
  border: 1px solid var(--gray-1);
  margin-top: .75rem;
  padding: 10px;
  transition: all 0.5s var(--ease-out-1);
  h3 {
    font-weight: 700;
    margin: 0;
  }
  button {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: var(--red-5);
    padding: .25rem;
    color: white;
    border-radius: 4px;
    transition: background 0.5s var(--ease-out-1);
    &:hover {
      background-color: var(--red-8);
    }
  }
  &:hover {
    background: #ccc;
    background-color: var(--blue-0);
    border-color: var(--blue-4);
  }
}