button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: white;
  border-radius: 4px;
  transition: background 0.5s var(--ease-out-1);
  &:hover {
    background-color: var(--red-8);
  }
}